:root {
  --text-color: #c2c2c2;
}
* {
  font-family: monospace;
  font-size: 14px;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}
body {
  background: #212221;
  color: var(--text-color);
  margin: 20px 40px;
  width: calc(100% - 80px);
  height: calc(100% - 40px);
}
.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header {
  margin: 14px 0 40px;
  display: flex;
}
.main {
  text-align: center;
  flex: auto;
}
.icon {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.icon.github {
  mask: url("/assets/github.svg") no-repeat center;
  mask-size: contain;
  background: var(--text-color);
}
.title {
  font-size: 17px;
  margin-top: 0;
}
.title > span {
  font-size: inherit;
  font-weight: bolder;
}
.hint {
  font-size: 14px;
}
.hint > span {
  font-size: inherit;
  font-style: italic;
}
#shell {
  flex-grow: 1;
  overflow-y: auto;
}
#shell::-webkit-scrollbar {
  width: 9px;
  height: 12px;
}
#shell::-webkit-scrollbar-track {
  background: transparent;
}
#shell::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  border: 3px solid transparent;
}
#shell::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.input-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
  margin-bottom: 4px;
}
#sprompt.executing {
  display: none;
}
#input {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  padding: 0;
  color: var(--text-color);
}
pre {
  margin: 2px 0 6px;
  white-space: pre-wrap;
  line-height: 20px;
}
pre[data-id] {
  margin-bottom: 0;
}
#output > pre.error {
  color: #d96464;
}
